<%- include('./partials/head') %>

<main>
    <section>
     <dialog id="favDialog">
        <form action="/vragenlijst" method="post">
            <% sdgs.forEach(function (sdg){ %>
                <label>
                    <input type="checkbox" name="id" value="<%=sdg.icon%>">
                   
                      <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?webp" type="image/webp">
                        <source srcset="https://fdnd-agency.directus.app/assets<%= sdg.icon %>?avif" type="image/avif">
                        <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?width=250 alt=" class="clickable-image" width="250" height="250">
                      </picture>
                    
                </label>
                <p>
                  <label>
                    Deze sdgs berekenen?
                  </label>
                </p>
                <div>
                  <button value="cancel" formmethod="dialog">Terug</button>
                  <button id="confirmBtn" value="default">Bevestig</button>
                </div>
            <% }) %>
            <button type="submit" id="back-button" id="showDialog" class="vragenlijst-btn">Naar vragenlijst</button>
        </form>
    </dialog>
    <output></output>
    </section>
    
</main>

    
<%- include('./partials/foot') %>